<!DOCTYPE html>
<html lang="en" ng-app="ScholarReports">
<head>
    <meta charset="UTF-8">
    <title>Scholar Status Reports</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/scholarreports_controller.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="ScholarReportsCtrl">
<h1>Scholar Status Reports</h1>

<div>
    <form>
        <p><input type="checkbox" ng-model="hidePii" ng-true-value="true" ng-false-value="false"/>Hide Personal Information in results</p>
        <label>Select a report: <select ng-model="selectedReport" ng-options="x.name for x in reports"></select></label>
        <button ng-click="executeReport()">Get Report</button>
    </form>
    <p>Description: {{selectedReport.description}}</p>
    <div ng-show="data.data">
        <form class="inline-form">
            <p>Search: <input ng-model="query"/></p>
            <p>Sort By: <select ng-model="sortColumn">
                <option ng-repeat="col in data.columnNames" value="{{col}}">{{col}}</option>
            </select>
            </p>
        </form>
        <table class="result-table">
            <tr>
                <th ng-repeat="header in data.columnNames">{{header}}</th>
            </tr>
            <tr ng-repeat="row in data.data | orderBy:sortColumn | filter:query">
                <td ng-repeat="x in row">{{x}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="data.errors">
        <p>Errors</p>
        <p ng-repeat="msg in data.errors">{{msg}}</p>
    </div>
</div>

<p>Copyright 2020 - A.J. Bobo</p>
</body>
</html>