<!DOCTYPE html>
<html lang="en" ng-app="NWAReports">
<head>
    <meta charset="UTF-8">
    <title>NWA Reports</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/nwareports_controller.js"></script>
</head>
<body ng-controller="NWAReportsCtrl">
<h1>Noah Webster Academy Reports</h1>

<div>
    <p>Reports</p>
    <form>
        <label>Select a report: <select ng-model="selectedReport" ng-options="x.name for x in reports"></select></label>
        <button ng-click="executeReport()">Get Report</button>
    </form>
    <p>{{stuff}}</p>
    <p>Description: {{selectedReport.description}}</p>
    <table>
        <tr>
            <th ng-repeat="header in data.columnNames">{{header}}</th>
        </tr>
        <tr ng-repeat="row in data.data">
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
        </tr>
    </table>
</div>

<p>Copyright 2017 - Noah Webster Academy</p>
</body>
</html>