.result-table th,
.result-table td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px dotted black;
}

.result-table th {
    background: lightgray;
}

.result-table {
    /*float: left;*/
    margin-right: 25px;
    margin-bottom: 25px;
    border: 1px solid black;
}

.inline-form {
    /*border: 1px dashed;*/
    text-align: left;
    /*background: lightgoldenrodyellow;*/
}

.inline-form p {
    display: inline-block;
}